#say{
	height: 660px;
	background: #f4f0ea;
	overflow: hidden;
	position: relative;
	top: 860px;
}

#sayC{
	height: 540px;
	padding: 60px 60px;
	position: relative;
}

#s_span{
	position: absolute;
	left: 190px;
	top:66px;
	font-size: 14px;
	padding-bottom: 20px;
}

#sayC h3{
	font-size: 20px;
	padding-bottom: 20px;
	position: absolute;
	top: 60px;
}

.say_goodsBox{
	width: 1090px;
	height: 492px;
	overflow: hidden;
	margin-top: 50px;
	position: relative;
}

.say_goods{
	width: 3800px;
	height: 492px;
	position: absolute;
}

.say_Box{
	width: 355px;
	height: 492px;
	background: white;
	margin-right: 10px;
	float: left;
	position: relative;
}

.say_textBox{
	width: 315px;
	height: 146.2px;
	position: absolute;
	padding: 0 10px;
	background: white;
	bottom: 0;
	left: 10px;
}

.say_useInfo{
	width: 315px;
	height: 13.6px;
	color: #999;
	margin-bottom: 12px;
	padding-top: 9px;
	line-height: 13.6px;
}

.say_userName{
	font-size: 14px;
	font-weight: 400;	
}

.say_date{
	font-size: 10px;
	padding-left: 10px;
}

.say_middleTitle{
	width: 315px;
	height: 24.6px;
	line-height: 24.6px;
	margin-bottom: 16px;
}

.say_title{
	font-size: 16px;
	text-align: left;
	font-weight: bold;
}

.say_price{
	width: 30.5px;
	height: 14.6px;
	padding-bottom: 9px;
	padding-top: 1px;
	margin-right: 15px;
	margin-top: 10px;
	color: #b4a078;
	float: right;
	font-size: 13px;
	line-height: 13px;
}

.say_evaluate{
	width: 315px;
	height: 80px;
	text-align: left;
	color: #333;
	font-size: 13px;
}

.say_picBox{
	width: 353px;
	height: 355px;
	border: 1px solid #f4f4f4;
	background: white;
	overflow: hidden;
	cursor: pointer;
}

.say_Box:hover .say_pic{
	transform: scale(1.2);
	transition: all 3s;
}

#say_leftButton{
	background-image: url(../img/header/icon.png);
	background-position: 0 -2426px;
	transform: scale(1.5);
	position: absolute;
	left: 10px;
	top: 300px;
	cursor: pointer;
}

#say_rightButton{
	background-image: url(../img/header/icon.png);
	background-position: 0 -4367px;
	transform: scale(1.5);
	position: absolute;
	right: -15px;
	top: 305px;
	cursor: pointer;
}

#say_leftButton:hover{
	background-position: 0 -2386px;
}

#say_rightButton:hover{
	background-position: 0 -4327px;
}